

@media  screen and (max-width: 325px) {
    .carousel{
        max-width: 300px;
        max-height: 300px;
    }
    .img{
        height: 100%;
        width: 100%;
    }

   
    
}

@media (max-width: 600px) {
    
    
    .job{
        width: 90vw;
    }
    
    /*buttons beneath job div*/
    #root > div > div > div:nth-child(3) > div > div > div > div > div > div.d-flex.justify-content-between.m-3 {
        flex-direction: column;
        
    }
    /*buttons beneath job div*/
    #root > div > div > div:nth-child(3) > div > div > div > div > div > div.d-flex.justify-content-between.m-3>button {
        margin-bottom: 5px;
        
    }
    #root > div > div > div:nth-child(3) > div > div > div > div > div > button{
        width: 100%;
    }
   
    #root > div > div > div:nth-child(3){
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    /* Hides profile icon and sign out button*/
    #root > div > div > div:nth-child(3) > svg, #root > div > div > div:nth-child(2) > button, #root > div > div > div:nth-child(3) > div > div > div > div.d-flex.flex-row.w-100.justify-content-around > button:nth-child(2){
        display: none;
        
    }
    #root > div > div > div:nth-child(3) > div > div > div > div.d-flex.flex-row.w-100.justify-content-around.addinvdiv > button.d-flex.justify-content-center.align-items-center.btn.btn-primary{
        display: none !important;
    }
    #root > div > div > div:nth-child(2) > h2{
        font-size: medium;
    }
    .hamburgericon{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0;
    }

    .addinvdiv{
        display: none;
    }
    
}

.carousel{
    max-height: 500px;
    max-width: 500px;
}
